/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.navBar {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 515px ){
    flex-direction: column;
  }
}
nav {
  display: flex;
  width: 40%;
  justify-content: space-around;

}

img{
  width: 50%;
}

h1,
.catchy {
  display: flex;
  justify-content: flex-end;
}
h1 {
  font-size: 3rem;
  /* font-family: 'Windsor', arial; */
}

.namePlate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto 0;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: gray;
}
.about,
button {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-size: 2rem;
}
button {
  width: 30%;
  padding: inherit;
  font-size: 1rem;
}
.middle {
  display: flex;
  justify-content: space-around;
}
.offerBox {
  width: 40%;
}
h2 {
  font-size: 3rem;
}
.languagesBox h3 {
  border: 0.02rem solid black;
  font-size: 3rem;
}
.languagesBox article {
  border-left: 2rem solid black;
  border-bottom: 0.02rem dotted black;
}
article {
  font-size: 1.5rem;
}
div {
  color: black;
  padding: 15px;
}
h3 {
  font-size: 2rem;
}
table,
th,
td {
  border: 1px solid black;
}
.trGray {
  background-color: gray;
}

@media (max-width: 515px){

h1{
  color;blue:
}
nav{
  text-decoration: none;
}
}
